<!-- This nav bar is only for the admin -->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-4 shadow-sm">
    <a class="navbar-brand text-success fw-bold" href="dashboard.html">🌾 Admin Dashboard</a>
    <div class="ms-auto">
      <li class="nav-item">
        <span class="nav-link disabled text-white fw-bold" id="adminNameDisplay"></span>
      </li>      
      <a href="dashboard.html" class="btn btn-outline-success me-2">Dashboard</a>
      <a href="categories.html" class="btn btn-outline-success me-2">Categories</a>
      <a href="products.html" class="btn btn-outline-success me-2">Products</a>
      <a href="add-admin.html" class="btn btn-outline-primary me-2">Add Admin</a>
      <a href="all-admins.html" class="btn btn-outline-success me-2">All Admins</a>

      <button class="btn btn-danger" onclick="logout()">Logout</button>
    </div>
  </nav>
  